body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
  max-width: 450px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  background-color: #262626;
  color: white;
}

button {
  border: none;
  border-radius: 10px;
  padding: 5px 8px;
  margin: 10px 0px;
}

button:hover {
  background-color: #b6dffc;
}
